body {
    background: rgba(127,232,75,1);
    background: -moz-linear-gradient(-45deg, rgba(127,232,75,1) 0%, rgba(127,232,75,1) 15%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(127,232,75,1)), color-stop(15%, rgba(127,232,75,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(-45deg, rgba(127,232,75,1) 0%, rgba(127,232,75,1) 15%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(127,232,75,1) 0%, rgba(127,232,75,1) 15%, rgba(32,124,229,1) 100%);
    background: linear-gradient(135deg, rgba(127,232,75,1) 0%, rgba(127,232,75,1) 15%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fe84b', endColorstr='#207ce5', GradientType=1 );
}

.div_body {
    background: rgba(67,128,37,1);
    background: -moz-linear-gradient(-45deg, rgba(67,128,37,1) 0%, rgba(67,128,37,1) 14%, rgba(29,57,87,1) 81%, rgba(29,57,87,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(67,128,37,1)), color-stop(14%, rgba(67,128,37,1)), color-stop(81%, rgba(29,57,87,1)), color-stop(100%, rgba(29,57,87,1)));
    background: -webkit-linear-gradient(-45deg, rgba(67,128,37,1) 0%, rgba(67,128,37,1) 14%, rgba(29,57,87,1) 81%, rgba(29,57,87,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(67,128,37,1) 0%, rgba(67,128,37,1) 14%, rgba(29,57,87,1) 81%, rgba(29,57,87,1) 100%);
    background: linear-gradient(135deg, rgba(67,128,37,1) 0%, rgba(67,128,37,1) 14%, rgba(29,57,87,1) 81%, rgba(29,57,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#438025', endColorstr='#1d3957', GradientType=1 );
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scene_element {
-moz-animation-duration: 4s;
-moz-transition-timing-function: ease-in;
-moz-animation-fill-mode: both;
-webkit-animation-duration: 4s;
-webkit-transition-timing-function: ease-in;
-webkit-animation-fill-mode: both;
}

.scene_element--fadein {
-moz-animation-name: fadeIn;
-webkit-animation-name: fadeIn;
}

.content {
    width: 90%;
    height: 95%;
    border-radius:25px;
    position:absolute; 
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;  
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 85%;
    height: 55%;
    overflow-y: auto;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.container1 {
  display: flex;
  justify-content:flex-start;
}

p {
    font-size:1em;
}